{
  "openapi": "3.0.1",
  "info": {
    "title": "Seagate Lyve Cloud",
    "description": "This is a sample server LyveCloud API server.  you can use the api key `special-key` to test the authorization filters.",
    "termsOfService": "https://console.lyvecloud.seagate.com/customer/dashboard",
    "contact": {
      "email": "adi1@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.5"
  },
  "externalDocs": {
    "description": "Find out more about LyveCloud",
    "url": "https://console.lyvecloud.seagate.com/customer/support"
  },
  "servers": [
    {
      "url": "https://console.lyvecloud.seagate.com/customer/dashboard"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Example of the LyveCloud Authentication (used on all requests)",
      "externalDocs": {
        "description": "Based on Bearer Auth",
        "url": "https://swagger.io/docs/specification/authentication/bearer-authentication/"
      }
    },
    {
      "name": "usage",
      "description": "Everything about LyveCloud Usage -- refer to \"LyveCloud Metrics API spec\"",
      "externalDocs": {
        "description": "Check it in dashboard",
        "url": "https://console.lyvecloud.seagate.com/customer/dashboard"
      }
    },
    {
      "name": "buckets",
      "description": "Everything about LyveCloud Buckets -- refer to \"LyveCloud S3 API spec\"",
      "externalDocs": {
        "description": "Check it in dashboard",
        "url": "https://console.lyvecloud.seagate.com/customer/buckets"
      }
    },
    {
      "name": "permissions",
      "description": "Everything about LyveCloud Permissions",
      "externalDocs": {
        "description": "Check it in dashboard",
        "url": "https://console.lyvecloud.seagate.com/customer/permissions"
      }
    },
    {
      "name": "service-accounts",
      "description": "Everything about LyveCloud Service Accounts",
      "externalDocs": {
        "description": "Check it in dashboard",
        "url": "https://console.lyvecloud.seagate.com/customer/service-accounts"
      }
    },
    {
      "name": "notification-recipients",
      "description": "Everything about LyveCloud notification-recipients",
      "externalDocs": {
        "description": "Check it in dashboard",
        "url": "https://console.lyvecloud.seagate.com/customer/iam"
      }
    },
    {
      "name": "users",
      "description": "Everything about LyveCloud Users",
      "externalDocs": {
        "description": "Check it in dashboard",
        "url": "https://console.lyvecloud.seagate.com/customer/iam"
      }
    },
    {
      "name": "tickets",
      "description": "Everything about LyveCloud Tickets",
      "externalDocs": {
        "description": "Check it in dashboard",
        "url": "https://console.lyvecloud.seagate.com/customer/support"
      }
    }
  ],
  "paths": {
    "/auth/": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "example of lyvecloud authentication headers used on all requests",
        "operationId": "PostAuth",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "simple",
            "explode": true,
            "description": "Authorization: Bearer <token>"
          },
          {
            "in": "header",
            "name": "X-LYVECLOUD-ACCOUNT-ID",
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": true,
            "description": "Lyve cloud account id"
          },
          {
            "in": "header",
            "name": "X-LYVECLOUD-API-KEY",
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": true,
            "description": "Access key"
          },
          {
            "in": "header",
            "name": "X_LYVECLOUD-API-SECRET",
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": true,
            "description": "Secret"
          }
        ],
        "responses": {
          "200": {
            "description": "successful auth",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Invalid auth",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/usage/": {
      "get": {
        "tags": [
          "usage"
        ],
        "summary": "list capacity metrics",
        "operationId": "ListUsage",
        "parameters": [
          {
            "in": "query",
            "name": "AccountName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mandatory - the account name for which to collect the bytes capacity"
          },
          {
            "in": "query",
            "name": "BucketName",
            "schema": {
              "type": "string"
            },
            "description": "Optional - the account name for which to collect the bytes capacity"
          },
          {
            "in": "query",
            "name": "Month",
            "schema": {
              "type": "string",
              "enum": [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sep",
                "oct",
                "Nov",
                "Dec"
              ]
            },
            "description": "Optional - the month for which to collect the per day bytes capacity"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ]
      }
    },
    "/permissions/": {
      "get": {
        "tags": [
          "permissions"
        ],
        "summary": "list permissions",
        "operationId": "ListPermissions",
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permissions"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ]
      }
    },
    "/permissions/{PermissionId}": {
      "get": {
        "tags": [
          "permissions"
        ],
        "summary": "get permission by id",
        "operationId": "listPermissionbyID",
        "parameters": [
          {
            "name": "PermissionId",
            "in": "path",
            "description": "Numeric ID of the permission to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "permissions"
        ],
        "summary": "delete a permission by id",
        "operationId": "deletePermissionbyID",
        "parameters": [
          {
            "name": "PermissionId",
            "in": "path",
            "description": "Numeric ID of the permission to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      },
      "post": {
        "tags": [
          "permissions"
        ],
        "summary": "update a permission",
        "operationId": "UpdatePermission",
        "parameters": [
          {
            "name": "PermissionId",
            "in": "path",
            "description": "Numeric ID of the permission to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Permission object that needs to be updated on the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionPolicy"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PermissionPolicy"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/permission/": {
      "put": {
        "tags": [
          "permissions"
        ],
        "summary": "create a new permission",
        "operationId": "CreatePermission",
        "requestBody": {
          "description": "Permission object that needs to be created on the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionPolicy"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PermissionPolicy"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/service-accounts/": {
      "get": {
        "tags": [
          "service-accounts"
        ],
        "summary": "list service-accounts",
        "operationId": "ListServiceAccounts",
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service-accounts"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ]
      }
    },
    "/service-accounts/{ServiceAccountId}/keys/": {
      "get": {
        "tags": [
          "service-accounts"
        ],
        "summary": "get service-account keys by id",
        "operationId": "listService-accountKeys",
        "parameters": [
          {
            "name": "ServiceAccountId",
            "in": "path",
            "description": "Numeric ID of the service-account to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service-account-keys"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ]
      }
    },
    "/service-accounts/{ServiceAccountId}": {
      "get": {
        "tags": [
          "service-accounts"
        ],
        "summary": "get service-account by id",
        "operationId": "listService-accountbyID",
        "parameters": [
          {
            "name": "ServiceAccountId",
            "in": "path",
            "description": "Numeric ID of the service-account to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service-account"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "service-accounts"
        ],
        "summary": "delete a service-account by id",
        "operationId": "DeleteServiceAccountByID",
        "parameters": [
          {
            "name": "ServiceAccountId",
            "in": "path",
            "description": "Numeric ID of the service-account to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      },
      "post": {
        "tags": [
          "service-accounts"
        ],
        "summary": "update a service-account",
        "operationId": "UpdateServiceAccount",
        "parameters": [
          {
            "name": "ServiceAccountId",
            "in": "path",
            "description": "Numeric ID of the service-account to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "service-account object that needs to be added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Service-accountPost"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Service-accountPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/service-account/": {
      "put": {
        "tags": [
          "service-accounts"
        ],
        "summary": "create a new service-account",
        "operationId": "Create ServiceAccount",
        "requestBody": {
          "description": "service-account object that needs to be updated on the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Service-accountPost"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Service-accountPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/notification-recipients/": {
      "get": {
        "tags": [
          "notification-recipients"
        ],
        "summary": "list notification-recipients",
        "operationId": "ListNotificationRecipients",
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipients"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ]
      }
    },
    "/notification-recipients/{RecipientId}": {
      "get": {
        "tags": [
          "notification-recipients"
        ],
        "summary": "get recipient by id",
        "operationId": "ListRecipientByID",
        "parameters": [
          {
            "name": "RecipientId",
            "in": "path",
            "description": "Numeric ID of the recipient to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "notification-recipients"
        ],
        "summary": "delete a recipient by id",
        "operationId": "DeleteRecipientByID",
        "parameters": [
          {
            "name": "RecipientId",
            "in": "path",
            "description": "Numeric ID of the recipient to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "notification-recipients"
        ],
        "summary": "update a recipient",
        "operationId": "UpdateRecipient",
        "parameters": [
          {
            "name": "RecipientId",
            "in": "path",
            "description": "Numeric ID of the recipient to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "recipient object that needs to be added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipientPost"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RecipientPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/notification-recipient/": {
      "put": {
        "tags": [
          "notification-recipients"
        ],
        "summary": "create a new recipient",
        "operationId": "CreateRecipient",
        "requestBody": {
          "description": "recipient object that needs to be updated on the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipientPost"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RecipientPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/users/": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "get list of users from store",
        "operationId": "ListUsers",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "enabled",
                "disabled"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Users"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ]
      }
    },
    "/user/{UserId}/": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "get user by user name",
        "operationId": "GetUserByName",
        "parameters": [
          {
            "name": "UserId",
            "in": "path",
            "description": "The name that needs to be fetched. Use user1 for testing. ",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ]
      }
    },
    "/tickets/": {
      "get": {
        "tags": [
          "tickets"
        ],
        "summary": "list tickets, optional filter by status",
        "operationId": "ListTickets",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "new",
                "in-progress",
                "resolved"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tickets"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ]
      }
    },
    "/tickets/count/": {
      "get": {
        "tags": [
          "tickets"
        ],
        "summary": "count tickets by status",
        "operationId": "CountTickets",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tickets-Count"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ]
      }
    },
    "/tickets/{TicketID}": {
      "get": {
        "tags": [
          "tickets"
        ],
        "summary": "get ticket by ID (Ticket Number)",
        "operationId": "ListTicketByID",
        "parameters": [
          {
            "name": "TicketID",
            "in": "path",
            "description": "Ticket Number to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "tickets"
        ],
        "summary": "update a ticket",
        "operationId": "UpdateTicket",
        "parameters": [
          {
            "name": "TicketID",
            "in": "path",
            "description": "Ticket Number to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ticket object that needs to be updated on the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketPost"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/TicketPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Lyvecloud_Bearer_Auth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/ticket/": {
      "put": {
        "tags": [
          "tickets"
        ],
        "summary": "create a new ticket",
        "operationId": "CreateTicket",
        "requestBody": {
          "description": "ticket object that needs to be added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketPost"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/TicketPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CUResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error-Response"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
[...]
